#menu{
    color: white;
    font-family: 'Press Start 2P', cursive;
	display: flex;
	flex-wrap: wrap;
	background-image: url("https://img00.deviantart.net/d852/i/2015/239/a/3/pokemon_xy_vs_background_by_lil_riku-d97f4y5.png");
}
#character{
	width: 50vw;
	max-width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: fixed;
	left: 0;
}
#imgCharacter{
	margin: 0 25% 0 25%;
	width:25vw;
}
#object{
	align-content:flex-end;
	display:none;
}
#clickmons{
	width: 50vw;
	max-width: 50vw;
	height: 100vh;
	max-width: 100vh;
	position: fixed;
	overflow: scroll;
	text-align: center;
	left: 50vw;
}
#clickmonObject{
display:flex;
flex-wrap:wrap;
}
.clickmonsImg{
	height: 100%;
	width:100%;
	max-height:240px;
	max-width:240px;
}
.clickBank{
width:33%;
height:auto;
max-width:33%;
background-color:rgba(0, 0, 0, 0.5);
justify-content: center;
align-items: center;
display: flex;
flex-direction:column;
}
#imgCharacter{
	margin: 0 25% 0 25%;
}
#objectGui{
height:20%;
}