<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'combat.css' %}">
  <title>Document</title>
</head>

<body>

  <h1>Bienvenue dans le combat</h1>
  <div class="app">
    <div class="player-info">
      <p>Information hero</p>
    </div>
    <div class="ring">
      <div>
        <div class="ranges">
          <div class="bar bar--hp">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--life">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--stamina">
            <div class="gauge" data-pourcent="100"></div>
          </div>
        </div>
        <div>
            <h2>{{ clickmon.name }} - {{ clickmon.hp }} hp</h2>
            <img src="{{ clickmon.img_back.url }}" alt="hero">
        </div>

      </div>
      <div class="player">
        <div>
            <h2>{{ clickmon_ennemy.name }} - {{ clickmon_ennemy.hp }} hp</h2>
            <img src="{{ clickmon_ennemy.img_front.url }}" alt="ennemy">
        </div>
        <div class="ranges">
          <div class="bar bar--hp">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--life">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--stamina">
            <div class="gauge" data-pourcent="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-wrapper">
      <div class="button-wrapper">
          <a href="{% url 'attack' clickmon.id clickmon_ennemy.id %}">Attack 0ne</a>
      </div>
      <div class="button-wrapper">
        <button>2</button>
      </div>
      <div class="button-wrapper">
        <button>3</button>
      </div>
      <div class="button-wrapper">
        <button>4</button>
      </div>
      <div class="button-wrapper">
        <button>5</button>
      </div>
    </div>
  </div>


</body>