<!DOCTYPE html>
<html>
	<html lang="fr">
<head>
    <meta charset="UTF-8">
	<title>Menu - Clickmon</title>
	  {% load static %}
  <link rel="stylesheet" href="{% static 'menu.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body id="menu">
	<section id="character">
		<h1 id="characterName">
			{{ summoner.name }}
		</h1>
		<div class="bar"></div>
		<img id="imgCharacter" src="../static/summoner.png">
		<CAPTION> Objects </CAPTION>
		<img src="../static/halfGui.png" id="objectGui">
					</section>
	<section id="clickmons">
			<div  id="clickmonObject" >
				{% for clickmon in summoner.clickmons.all %}
                    <div class="clickBank">
                        <h3>{{ clickmon.name }}</h3>
                        <img class="clickmonsImg" src="{{ clickmon.img_front.url }}">
                        <a  class="buttonDuel" href="{% url 'combat' clickmon.id %}">Combattre avec {{ clickmon.name }}</a>
                    </div>
                {% endfor %}
			</div>
	</section>
</body>
</html>