<!DOCTYPE html>
<html>
	<html lang="fr">
<head>
    <meta charset="UTF-8">
	<title>Menu - Clickmon</title>
	  {% load static %}
  <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body id="menu">
	<section id="character">
		<h1 id="characterName">
			"Exemple michel"
		</h1>
		<div class="bar"></div>
		<img id="imgCharacter" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/40594104_1967246823333592_7849944596283916288_n.jpg?_nc_cat=0&oh=80c04eae3714b0ffba3bfc7cacbb95a4&oe=5BECDA83">
		<TABLE id="objects" BORDER="1">
			<CAPTION> Objects </CAPTION>
			<TR>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
			</TR>
			<TR>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
				<TD>
					<img src="">
					<h3>"name_object"</h3>
				</TD>
			</TR>
		</TABLE>
	</section>
	<section id="clickmons">
		<TABLE id"object" BORDER="1">
			<TR>
				<TD>
					<h3>"name_object"</h3>
					<img class="clickmonsImg" src="./1.png">
					<a href="">Combattre avec "Clickmon.name"</a>
				</TD>
				<TD>
					<h3>"name_object"</h3>
					<img class="clickmonsImg" src="./1.png">
					<a href="">Combattre avec "Clickmon.name"</a>
				</TD>
				<TD>
					<h3>"name_object"</h3>
					<img class="clickmonsImg" src="./1.png">
					<a href="">Combattre avec "Clickmon.name"</a>
				</TD>
				<TD>
					<h3>"name_object"</h3>
					<img class="clickmonsImg" src="./1.png">
					<a href="">Combattre avec "Clickmon.name"</a>
				</TD>
			</TR>
		</TABLE>
	</section>
</body>
</html>