<h1>Bienvenue dans la partie « {{ partie }} »</h1>
  <div class="app">
    <div class="player-info">
      <p>Information hero</p>
    </div>
    <div class="ring">
        <div class="ranges">
          <div class="bar bar--hp">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--life">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--stamina">
            <div class="gauge" data-pourcent="100"></div>
          </div>
        </div>
        <div><img src="https://via.placeholder.com/300x500" alt="hero"></div>
      </div>
      <div class="player">
        <div><img src="https://via.placeholder.com/300x500" alt="ennemy"></div>
        <div class="ranges">
          <div class="bar bar--hp">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--life">
            <div class="gauge" data-pourcent="100"></div>
          </div>
          <div class="bar bar--stamina">
            <div class="gauge" data-pourcent="100"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-wrapper">
      <div class="button-wrapper">
        <button>1</button>
      </div>
      <div class="button-wrapper">
        <button>2</button>
      </div>
      <div class="button-wrapper">
        <button>3</button>
      </div>
      <div class="button-wrapper">
        <button>4</button>
      </div>
      <div class="button-wrapper">
        <button>5</button>
      </div>
    </div>
  </div>


